.contact-form {
  max-width: 700px;
  margin: 10% auto; 
  margin-bottom: 50px;
  margin-top: 25px;
  padding: 90px;
  background-color: #ccc7ea;
  background-image: linear-gradient(115deg, #f9f9fb 0%, #38B6FF 370%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }

  .container-contact {
    background-image: url('/public/Images/Find3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0%;
    padding-top: 6%;
    
  }
  
  .contact-form h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 0.1px solid #0e0a0a;
    border-radius: 15px;
  }
  
  .contact-form button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0; /* Remove this line to ensure no margin */
    background-color: #007bff; 
    color: rgb(252, 250, 250);
    text-decoration: none;
    border-radius: 40px; 
    border: 1.3px solid #020305;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #444;
  }
  
  .success-message {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}
