/* HomePage Layout Enhancements */
.home-page {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px;
    background-image: linear-gradient(130deg,#f9f9fb 0%, #38B6FF 350% ); 
    margin-top: 20px;
}


.user-container {
    flex: 0 0 15%; 
    padding: 20px;
    background-color: #ccc7ea;
    background-image: linear-gradient(115deg, #f9f9fb 0%, #2c6789 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}


.profile-image {
    width: 100%;
    height: auto;
    border-radius: 20%;
    margin-bottom: 10px;
}


.trip-section {
    flex: 0 0 60%; 
    padding: 15px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


.places-recommended {
    flex: 0 0 15%; 
    padding: 15px;
    background-color: gradient (115deg, #9999b5 0%, #38B6FF 70%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-container button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: 1px solid #000000;
    cursor: pointer;
    transition: background-color 0.3s;
}


@media (max-width: 768px) {
    .home-page {
        flex-direction: column; 
    }

    .user-container,
    .trip-section,
    .places-recommended {
        width: 100%; 
        flex: yes;
        margin-top: 10px;
    }
}
