.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  transition: background-color 0.1s ease; 
  background-color: linear-gradient(10deg, rgba(119, 81, 81, 0.5), rgba(104, 76, 76, 0.5)); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1px;
  z-index: 1000; 
  box-shadow: 0 5px 10px rgba(0,0,0,0.7); 
}

.navbar.faded {
  background-color: #dbe8ef; 
}
  
  .logo img {
    width: 160px; 
    height: auto;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: auto;
    margin-left: auto;
    margin-right: 20px;
  }
  
  .nav-links li {
    font-size: 15px;
    font-weight: bold;
    color: #314672;
  

  }
  
  .nav-links a {
    display: inline-block;
    padding: 10px 20px;
    margin: px;
    background-color: #007bff; 
    color: rgb(252, 250, 250);
    text-decoration: none;
    border-radius: 40px; 
    border: 1.3px solid #020305;
    transition: background-color 0.3s;
  }

  .nav-links button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0; /* Remove this line to ensure no margin */
    background-color: #007bff; 
    color: rgb(252, 250, 250);
    text-decoration: none;
    border-radius: 40px; 
    border: 1.3px solid #020305;
    transition: background-color 0.3s;
}

.nav-links button:hover {
    text-decoration: none; /* Remove underline on hover */
    background-color: #404d5b;
}



  
  .nav-links a:hover {
    text-decoration: underline;
    background-color: #404d5b;
  }
  
  body {
    padding-top: 100px; 
}
